<div class="relative overflow-hidden bg-cover bg-no-repeat" style="
      background-position: 50%;
      background-image: url('../../assets/images/BOL-Arial.jpg');
      height: 350px;
    ">
    <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)">
        <div class="flex h-full items-center justify-center">
            <div class="px-6 text-center text-white md:px-12">
                <h1 class="mb-6 text-5xl font-bold">Black Oak Lake</h1>
                <h3 class="mb-8 text-3xl font-bold">We Call You Our Own</h3>
            </div>
        </div>
    </div>
</div>
</header>