---
layout: "layouts/base.njk"
---

{% include "../components/header.html" %}

<h1 class="text-3xl font-bold underline">{{ metadata.title }}</h1>

{{ content | safe }}

<h2 class="font-bold">News from the Lake:</h2>
<ul>
{%- for news in collections.news -%}
  <li><a href="{{ news.url }}">{{ news.data.title }}</a></li>
{%- endfor -%}
</ul>
